/* index.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: hsl(161, 74%, 79%);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}